.list-style {
  text-align: left;
}

.movies-list-item {
  width: 400px;
  border: 1px black solid;
  padding: 10px;
  cursor: pointer;
  margin: 5px auto;
}


.App section{
  padding: 50px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 15vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  padding: 20px 0;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.usuarios > div {
  display: flex;
  justify-content: space-around
}